.news_container {
  border: 1px solid #e987b4;
  border-radius: 10px;
  background-color: #fff8f5;
  padding: 20px 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}

.news_welcome {
  position: absolute;
  left: 0;
}

.news_content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
  border-bottom: 2px solid #003744;
}

.news_title {
  font-size: 30px;
  font-weight: 700;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #000000;
}

.news_blog {
  display: flex;
  align-items: center;
  gap: 20px;
  border-bottom: 5px solid #003744;
  margin-top: 20px;
  padding-bottom: 10px;
}

.news_blog_image {
  width: 120px;
  height: auto;
}

.news_blog_content {
  width: 100%;
}

.news_blog_content h2 {
  background-color: #003744;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #fff;
  padding: 10px 0;
  /* height: 100px; */
}

.home_news_text {
  position: relative;
}

.home_advertisment_image {
  width: 100%;
  height: 100%;
}

.home_news_title {
  position: absolute;
  font-family: Georgia, Regular;
  bottom: 0px;
  background-color: #e987b4;
  font-size: 24px;
  left: 50%;
  width: 100%;
  text-align: center;
  color: #fff;
  transform: translateX(-50%);
}

.home_news_para p {
  margin-top: 10px;
  text-align: center;
  padding: 0 25px;
  font-size: 16px;
  color: #000000;
  font-family: DM Sans !important;
}

/* .home_dress {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateY(-50%);
} */

.home_top {
  margin-top: 30px;
  border: 1px solid #003744;
}

.home_bottom {
  border: 1px solid #003744;
  margin-top: 2px;
}

.news_btn {
  display: flex;
  justify-content: center;
  /* width: 100%; */
}

.pinkbtn {
  border-radius: 0;
}

.read_more_btn,
.news_hidden {
  display: block;
  padding: 10px 14px !important;
}

@media screen and (max-width: 767px) {
  .news_content {
    flex-direction: column;
  }

  .news_welcome {
    position: unset;
  }

  .home_news_title {
    font-size: 16px;
    bottom: -45px;
  }

  .news_blog {
    flex-direction: column;
  }

  .news_blog_content {
    border-top: 2px solid #003744;
    border-bottom: 2px solid #003744;
    padding: 3px 0;
  }

  .news_blog_content h2 {
    font-size: 25px;
    text-align: center;
    padding: 0 13px;
  }

  .news_content {
    border: 0px;
  }

  .home_news_para p {
    padding: 0;
    margin-top: 50px;
    text-align: center;
  }

  .news_blog_image {
    width: 150px;
  }

  .read_more_btn {
    display: block;
  }

  /* .news_hidden {
        display: none;
    } */

  .news_container {
    margin: 10px auto;
    padding: 10px 20px;
  }

  .news_content {
    flex-direction: column-reverse;
  }
}
