.privacy_sub_header{
    font-weight: 600 !important;
    font-size: 22px !important; 
    margin-top: 15px !important;
  }
  .privacy_sub_header{
    font-weight: 600 !important;
    font-size: 20px !important;
    margin-top: 15px !important;
  }