.home_media {
  background-color: #f3f3f3;
  padding: 2.5rem;
}

.home_advertisment_content {
  display: flex;
  flex-direction: column-reverse !important;
}

.grid_media {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  height: 100%;
}

.grid_media > :nth-child(1) {
  grid-area: 1 / 1 / 3 / 2;
  width: 100%;
  padding-right: 10px;
}

.scrollable-container {
  grid-area: 1 / 2 / 3 / 3;
  /* Spans rows 1-2 and columns 2-3 */
  overflow-y: auto;
  /* Enable vertical scrolling */
  height: 100%;
  /* Ensure it takes the full height of the grid */
  padding-left: 10px;
  /* Optional: Add padding if needed */
  box-sizing: border-box;
  /* Include padding in the height calculation */
}

.scrollable {
  margin-bottom: 10px;
  /* Optional: spacing between items */
}

/* .grid_media>:nth-child(2) {
    grid-area: 1 / 2 / 2 / 3;
    width: 100%;
}

.grid_media>:nth-child(3) {
    grid-area: 2 / 2 / 3 / 3;
    width: 100%;
} */

.home_media_content {
  height: auto;
  display: flex;
  width: 99%;
  margin: auto;
  flex-direction: column-reverse; 
}

.home_media_overflow_content::-webkit-scrollbar {
  display: none;
}

.home_media_content iframe {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.home_media_text {
  font-size: 12px;
  padding-top: 3px;
}

.grid_media_mobile {
  display: none;
}

.home_dress {
  position: absolute;
  bottom: -14px;
  left: 50%;
  width: 25px;
  height: 25px;
  transform: translateX(-50%);
}

@media (max-width: 768px) {
  /* .home_advertisment_content {
        flex-direction: row;
        align-items: center;
    } */
  .grid_media {
    /* display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px; */
    display: none;
  }

  .home_media_content iframe {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

  .grid_media_mobile {
    display: block;
  }

  .grid_media > :nth-child(1) {
    grid-area: 1 / 1 / 2 / 3;
    padding: 0;
  }
  .ytp-large-play-button {
    width: 20px !important;
    height: 20px !important;
  }
  .grid_media > :nth-child(2) {
    grid-area: 2 / 1 / 3 / 2;
    padding-right: 5px;
    /* width: 50%; */
  }

  .grid_media > :nth-child(3) {
    padding-left: 5px;
    grid-area: 2 / 2 / 3 / 3;
  }

  .home_media {
    margin-top: 50px;
  }

  .home_dress {
    display: none;
  }

  .react-multi-carousel-dot-list {
    bottom: -15px !important;
  }
}
